.content {
  max-width: 720px;
  padding: 2.5rem 0;
  margin: 0 auto;

  header {
    margin-bottom: 2.5rem;
  }
}

.mainContent {
  aside {
    margin-top: 5rem; //80px
  }
}

.heroImage {
  margin-bottom: 5rem;
  width: 1440px;
  height: 400px;
  position: relative;
  left: -25vw;

  img {
    width: 100%;
    height: 100%;
  }
}

.postContent {
  header {
    margin-bottom: 4rem; // 64px

    h1 {
      margin-bottom: 1.5rem; // 24px
      display: inline-block;
      font-size: 3rem; // 48px
    }

    > div {
      margin-bottom: 1rem; // 16px
      display: flex;
      align-items: center;
      gap: 1.5rem; // 24px
    }

    time,
    span {
      display: flex;
      align-items: center;
      gap: 0.5rem; // 8px
      font-size: 0.875rem; // 14px
      color: var(--info);
    }

    span:last-child {
      font-style: italic;
    }
  }

  h2 {
    margin-bottom: 4rem; // 64px
    display: inline-block;
    font-size: 2.25rem; // 26px
  }

  section + section {
    margin-top: 4rem; // 64px
  }

  p {
    text-align: justify;
    font-size: 1.125rem; // 18px

    &:not(:last-child) {
      margin-bottom: 1.5rem; // 24px
    }

    a {
      color: var(--highlight);
    }
  }

  li {
    margin-bottom: 1.5rem; // 24px
    text-align: justify;
    font-size: 1.125rem; // 18px
  }
}

.nextAndPrevioustPost {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 3.75rem; // 60px
  margin-bottom: 5rem; // 80px
  padding-top: 3rem; // 48px
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem; // 8px
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: var(--highlight);

    span {
      font-size: 1.125rem; // 18px
      color: var(--heading);
      font-weight: 400;
    }

    &:nth-child(2) {
      align-items: flex-end;
    }
  }
}
